<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PizzaCabin1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="ServiceReference1" value="http://pizzacabininc.azurewebsites.net/PizzaCabinInc.svc?wsdl"/>
    <add key="DBConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\DrunkenMonk\source\repos\AustinMais\PizzaCabin\PizzaCabin1\Database\PizzaCabinIncDB.mdf;Integrated Security=True;Connect Timeout=30"/>
  </appSettings>
  <applicationSettings>
    <PizzaCabin1.Properties.Settings>
      <setting name="PizzaCabin1_WebReference1_PizzaCabinInc" serializeAs="String">
        <value>http://pizzacabininc.azurewebsites.net/PizzaCabinInc.svc?wsdl</value>
      </setting>
    </PizzaCabin1.Properties.Settings>
  </applicationSettings>
<system.serviceModel>
    <client>
      <endpoint name="Basic"
                address="http://pizzacabininc.azurewebsites.net/PizzaCabinInc.svc?wsdl"
                binding="basicHttpBinding"
                contract="ServiceReference1.IPizzaCabinInc" />
      <endpoint name="ScheduleResult"
                address="http://pizzacabininc.azurewebsites.net/PizzaCabinInc.svc?xsd=xsd0"
                binding="basicHttpBinding"
                contract="ServiceReference1.IPizzaCabinInc" />
      <endpoint name="TeamSchedule"
                address="http://pizzacabininc.azurewebsites.net/PizzaCabinInc.svc?xsd=xsd1"
                binding="basicHttpBinding"
                contract="ServiceReference1.IPizzaCabinInc" />
    </client>
  </system.serviceModel>
</configuration>
